<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_mbsetupuser</key>
	<dict>
		<key>AuthenticationAuthority</key>
		<array>
			<string>;ShadowHash;HASHLIST:&lt;SALTED-SHA512-PBKDF2,SRP-RFC5054-4096-SHA512-PBKDF2&gt;</string>
			<string>;Kerberosv5;;_mbsetupuser@LKDC:SHA1.3EADD616A1AECE9188E70498E390F72C618415E0;LKDC:SHA1.3EADD616A1AECE9188E70498E390F72C618415E0;</string>
		</array>
		<key>GeneratedUID</key>
		<string>FFFFEEEE-DDDD-CCCC-BBBB-AAAA000000F8</string>
		<key>RealName</key>
		<string>Setup User</string>
	</dict>
	<key>zach</key>
	<dict>
		<key>AuthenticationAuthority</key>
		<array>
			<string>;ShadowHash;HASHLIST:&lt;SALTED-SHA512-PBKDF2,SRP-RFC5054-4096-SHA512-PBKDF2&gt;</string>
			<string>;SecureToken;</string>
			<string>;Kerberosv5;;zach@LKDC:SHA1.3EADD616A1AECE9188E70498E390F72C618415E0;LKDC:SHA1.3EADD616A1AECE9188E70498E390F72C618415E0;</string>
		</array>
		<key>GeneratedUID</key>
		<string>7B1E96C7-C623-4639-86F5-88FDB29747B6</string>
		<key>RealName</key>
		<string>zach</string>
	</dict>
</dict>
</plist>
